/*SHAPE*/
.gray-wire {
    fill: rgba(0,0,0,0);
    stroke: gray;
    stroke-width: 3;
}

.red-wire {
    fill: rgba(0,0,0,0);
    stroke: red;
    stroke-width: 3;
}

.green-wire {
    fill: rgba(0,0,0,0);
    stroke: green;
    stroke-width: 3;
}

.blue-wire {
    fill: rgba(0,0,0,0);
    stroke: blue;
    stroke-width: 3;
}

.yellow-wire {
    fill: rgba(0,0,0,0);
    stroke: yellow;
    stroke-width: 3;
}

/*LINE*/
.gray-line {
    stroke: gray;
    stroke-width: 3;
}

.red-line {
    stroke: red;
    stroke-width: 3;
}

.green-line {
    stroke: green;
    stroke-width: 3;
}

.blue-line {
    stroke: blue;
    stroke-width: 3;
}

.yellow-line {
    stroke: yellow;
    stroke-width: 3;
}

/*TEXT*/
.black-text {
    fill: black;
}

.gray-text {
    fill: gray;
}

.red-text {
    fill: red
}

.green-text {
    fill: green;
}

.blue-text {
    fill: blue;
}

.yellow-text {
    fill: yellow;
}

.implement-text {
    font-size: large;
    font-weight: 900;
}

.important-text {
    font-size: large;
    font-weight: 900;
}

keyword {
    color: red;
}

